<form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
  <ion-item>
    <ion-img
      [src]="
        carros.downloadURL ? carros.downloadURL : '../../../assets/car2.avif'
      "
    ></ion-img>
  </ion-item>
  <ion-item>
    <ion-label
      style="
        position: relative;
        font-size: 16px;
        margin-bottom: 8px;
        color: #333;
      "
      position="floating"
    >
      Modelo
    </ion-label>
    <ion-input formControlName="modelo" [disabled]="!edicao"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label
      style="
        position: relative;
        font-size: 16px;
        margin-bottom: 8px;
        color: #333;
      "
      position="floating"
    >
      Marca
    </ion-label>
    <ion-input formControlName="marca" [disabled]="!edicao"></ion-input>
    <span
      *ngIf="formGroup.get('marca')?.touched && formGroup.get('marca')?.errors?.['required']"
    >
      Marca é obrigatória </span
    ><br />
  </ion-item>
  <ion-item>
    <ion-label
      style="
        position: relative;
        font-size: 16px;
        margin-bottom: 8px;
        color: #333;
      "
      position="floating"
    >
      Ano
    </ion-label>
    <ion-input formControlName="ano" [disabled]="!edicao"></ion-input>
    <span
      *ngIf="formGroup.get('ano')?.touched && formGroup.get('ano')?.errors?.['required']"
    >
      Ano é obrigatório
    </span>
    <span
      *ngIf="formGroup.get('ano')?.touched && formGroup.get('ano')?.errors?.['pattern']"
    >
      Ano inválido
    </span>
    <span
      *ngIf="formGroup.get('ano')?.touched && formGroup.get('ano')?.errors?.['min']"
    >
      Ano não pode ser menor que {{ currentYear - 100 }}
    </span>
    <span
      *ngIf="formGroup.get('ano')?.touched && formGroup.get('ano')?.errors?.['max']"
    >
      Ano não pode ser maior que {{ currentYear }} </span
    ><br />
  </ion-item>
  <ion-item>
    <ion-label
      style="
        position: relative;
        font-size: 16px;
        margin-bottom: 8px;
        color: #333;
      "
      position="floating"
    >
      Potência
    </ion-label>
    <ion-input formControlName="potencia" [disabled]="!edicao"></ion-input>
    <span
      *ngIf="formGroup.get('potencia')?.touched && formGroup.get('potencia')?.errors?.['pattern']"
    >
      Potência inválidA
    </span>
    <span
      *ngIf="formGroup.get('potencia')?.touched && formGroup.get('potencia')?.errors?.['min']"
    >
      Potência não pode ser negativa </span
    ><br />
  </ion-item>
  <ion-item>
    <ion-label
      style="
        position: relative;
        font-size: 16px;
        margin-bottom: 8px;
        color: #333;
      "
      position="floating"
    >
      Carroceria
    </ion-label>
    <ion-select formControlName="carroceria" [disabled]="!edicao">
      <ion-select-option value="Hatch">Hatch</ion-select-option>
      <ion-select-option value="Sedã">Sedan</ion-select-option>
      <ion-select-option value="SUV">SUV</ion-select-option>
      <ion-select-option value="Pick-Up">Pick-Up</ion-select-option>
      <ion-select-option value="Não Especificado"
        >Não Especificado</ion-select-option
      >
    </ion-select>
    <span
      *ngIf="formGroup.get('carroceria')?.touched && formGroup.get('carroceria')?.errors?.['required']"
    >
      Carroceria é obrigatória </span
    ><br />
  </ion-item>
  <ion-button expand="block" type="submit" class="btn-salvar" [disabled]="!edicao">Cadastrar Carro</ion-button>
</form>
