<form [formGroup]="formCadastrar" (ngSubmit)="cadastrar()">
  <ion-list lines="none">
    <ion-item>
      <ion-input label="Modelo" label-placement="floating" fill="outline" formControlName="modelo" class="custom-input"></ion-input>
      <span *ngIf="formCadastrar.get('modelo')?.touched && formCadastrar.get('modelo')?.errors?.['required']">Modelo é obrigatorio</span><br>
    </ion-item>
    <ion-item>
      <ion-input  label="Marca" label-placement="floating" fill="outline" formControlName="marca" class="custom-input"></ion-input>
      <span *ngIf="formCadastrar.get('marca')?.touched && formCadastrar.get('marca')?.errors?.['required']">Marca é obrigatoria</span><br>
    </ion-item>
    <ion-item>
      <ion-input  label="Ano" label-placement="floating" fill="outline" formControlName="ano" class="custom-input"></ion-input>
      <span *ngIf="formCadastrar.get('ano')?.touched && formCadastrar.get('ano')?.errors?.['required']">Modelo é obrigatorio</span><br>
      <span *ngIf="formCadastrar.get('ano')?.touched && formCadastrar.get('ano')?.hasError('pattern')">Ano inválido</span>
      <span *ngIf="formCadastrar.get('ano')?.touched && formCadastrar.get('ano')?.hasError('min')">Ano não pode ser menor que {{ currentYear - 100 }}</span>
      <span *ngIf="formCadastrar.get('ano')?.touched && formCadastrar.get('ano')?.hasError('max')">Ano não pode ser maior que {{ currentYear }}</span><br>
    </ion-item>
    <ion-item>
      <ion-input
      label="Potência"
      label-placement="floating"
      fill="outline"
      formControlName="potencia"
      class="custom-input"
    ></ion-input>
    <span *ngIf="formCadastrar.get('potencia')?.touched && formCadastrar.get('potencia')?.hasError('pattern')">Potência inválido</span>
    <span *ngIf="formCadastrar.get('potencia')?.touched && formCadastrar.get('potencia')?.hasError('min')">Potência não pode ser negativo</span><br>
    </ion-item>                
    <ion-item>
      <ion-select  label="Carroceria" label-placement="floating" fill="outline" formControlName="carroceria" interface="popover" placeholder="Selecione">
        <ion-select-option value="Hatch">Hatch</ion-select-option>
        <ion-select-option value="Sedã">Sedã</ion-select-option>
        <ion-select-option value="SUV">SUV</ion-select-option>
        <ion-select-option value="Pick-Up">Pick-Up</ion-select-option>
        <ion-select-option value="Não Especificado">Não Especificado</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="formCadastrar.get('carroceria')?.touched && formCadastrar.get('carroceria')?.errors?.['required']">Carroceria é obrigatorio</span><br>
  </ion-list>
  <ion-button type="submit" expand="block" class="btn-salvar" >Cadastrar</ion-button> <!-- Use 'full' para ocupar toda a largura -->  
</form>